/*
  #006d77
  #42999b
  #83c5be
  #edf6f9
  #ffddd2
  #f1b9a5
  #e29578
  #111
  #7a7a7a
  #bdbdbd
  #b5b5b5
*/

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#006d7755, #006d77dd), url("../images/hospital.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #111;
  min-height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  color: #006d77;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  background-color: #edf6f9;
  padding: 1rem 9rem;
}

.container {
  background-color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-image {
  position: absolute;
  left: 0;
  height: 36rem;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 30rem;
  left: 0;
}

.overlay-flipped {
  overflow: hidden;
}

.sherbimet,
.doktoret {
  text-align: center;
  margin-bottom: 5rem;
}

.sherbimet {
  line-height: 2rem;
}

.services {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.service {
  border: .1rem solid #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 22rem;
}

.service img {
  width: 6rem;
  margin-bottom: 1.5rem;
}

.doctor-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.doctor-card {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.doctor-card img {
  width: 100%;
}

.rreth {
  width: 100%;
  margin: 6rem auto;
  padding: .5rem 1rem;
  height: 25rem;
  opacity: 1;
}

.rreth img {
  position: fixed;
  left: 0;
  top: 40rem;
  z-index: -999;
}
.rreth p {
  font-size: 1.75rem;
}

.rreth .text {
  text-align: left;
  color: #edf6f9;
}

.rreth .text p {
  width: 65%;
}

.contact-search {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
}

.contact-search span {
  display: inline-block;
  margin-right: 3rem;
}

.search-input {
  height: 3rem;
  border: none;
  outline: none;
  color: #111;
  padding-left: .8rem;
  padding-right: 3rem;
}

.hero-search {
  margin-top: 27rem;
  margin-bottom: 4rem;
  z-index: 0;
}

.hero-search-input {
  height: 3rem;
  padding-left: .8rem;
  padding-right: 3rem;
  font-size: 1.3rem;
  font-weight: 300;
  outline: none;
  border: none;
  color: #006d77;
  background-color: #edf6f9;
  opacity: .8;
}

.hero-search-input::placeholder {
  color: #006d77;
}

.hero-search-input:focus {
  opacity: 1;
}

.hero-search-btn {
  border: none;
  outline: none;
  padding: 0 1rem;
  background-color: none;
  margin-left: -3rem;
  margin-right: auto;
  border-top-right-radius: .15rem;
  border-bottom-right-radius: .15rem;
  z-index: 1;
  cursor: pointer;
}

.btn-secondary.search-btn {
  margin-left: -3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded {
  border-radius: .15rem;
}

.rounded-xl {
  border-radius: 1rem;
}

.shadow {
  box-shadow: 0 .15rem .25rem #bdbdbd;
}

.shadow-xl {
  box-shadow: .5rem .5rem .5rem #bdbdbd;
}

form {
  display: flex;
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 1rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: .15rem;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-primary {
  background-color: #006d77;
  color: #edf6f9;
}

.btn-primary:hover {
  background-color: #42999b;
}

.btn-primary:active {
  background-color: #006d77;
}

.btn-secondary {
  background-color: #e29578;
  color: #111;
}

.btn-secondary:hover {
  background-color: #f1b9a5;
}

.btn-secondary:active {
  background-color: #e29578;
}

.goback-btn {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 2rem;
  padding: 0 2rem;
  border: .15rem solid #e29578;
  background-color: white;
  color: #111;
}

.goback-btn img {
  width: 1rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -.75rem;
  left: 0;
  height: .25rem;
  width: 100%;
  transform: scaleX(0);
  background-color: #006d77;
  transition: all .3s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: .8rem;
}

ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

.top-btn {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  right: 2rem;
  bottom: 2rem;
  padding: 1rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: #e29578;
  color: #edf6f9;
  transition: all .3s ease;
  z-index: 9;
  cursor: pointer;
}

.top-btn:hover {
  background-color: #f1b9a5;
}


.top-btn:active {
  background-color: #e29578;
}

.testimonials {
  position: relative;
  background-image: linear-gradient(#006d77, #fff);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 4rem auto auto auto;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.testimonials h1 {
  color: #edf6f9;
  grid-area: 1 / 1 / span 1 / span 3;
  transform: translateY(1rem);
  text-align: center;
}

.quotes {
  position: absolute;
  top: -3rem;
  left: 3rem;
  background-color: #f1b9a5;
  border: none;
  border-radius: 4rem;
  padding: 3rem;
}

.testimonial {
  background-color: #edf6f9;
  color: #111;
  border-radius: .75rem;
  width: 80%;
  height: 24rem;
}

.testimonial-pic {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}

.testimonial .text {
  padding: .5rem 1rem;
}

.testimonial .author {
  text-align: right;
  margin: 0 1.5rem;
}

.testimonial.first {
  grid-area: 2 / 1 / span 1 / span 1;
}

.testimonial.second {
  grid-area: 2 / 2 / span 1 / span 1;
}

.testimonial.third {
  grid-area: 2 / 3 / span 1 / span 1;
}

.testimonial.fourth {
  grid-area: 3 / 1 / span 1 / span 1;
}

.testimonial.fifth {
  grid-area: 3 / 2/ span 1/ span 1;
}

.testimonial.sixth {
  grid-area: 3 / 3/ span 1 /span 1;
}

footer {
  text-align: center;
  padding: 1rem 3rem;
  font-size: 0.9rem;
  background-color: white;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .kontakti {
  text-align: left;
}

footer img {
  width: 2rem;
  height: 2rem;
}
