header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf6f9;
  padding: 2rem 8.6rem;
}

.phone span {
  font-size: 1.4rem;
}

.container {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-blog {
  margin-top: 8rem;
}

.home-posts {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding: 0 3.2rem;
  margin-bottom: 8rem;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 12.8rem;
  color: #111;
  padding: 2.4rem 8rem;
}

.posts h3 {
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
  margin-bottom: 3.2rem;
}

.posts .post-title-link:hover {
  text-decoration: underline;
  color: #006d77;
}

.posts .post-date {
  color: #7a7a7a;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.posts p {
  line-height: 1.5;
}

.single-post {
  text-align: left;
}

.single-post h2 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.post {
  flex-basis: 100%;
  padding: 2.4rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post h2 {
  margin-top: 1.6rem;
  margin-left: 0;
  margin-bottom: 1.6rem;
}

.home-posts .post:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-image {
  width: 60rem;
  margin-bottom: 2.4rem;
}

.home-post {
  display: flex;
  align-items: start;
}

.post-image-thumbnail {
  margin-right: 1.6rem;
  width: 100%;
  height: 50%;
  border-radius: 2px;
  object-fit: cover;
}

.post-content {
  width: 65%;
  font-size: 1.6rem;
}

.post-not-found {
  display: none;
}

.testimonial-header {
  color: #edf6f9;
  text-align: center;
}

.testimonial-header h1 {
  font-size: 4.4rem;
}

.testimonials-carousel {
  display: flex;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
  width: 100%;
}

.testimonials-carousel {
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  left: 0;
  height: 57rem;
  width: 100%;
  object-fit: cover;
}

.container .hero-tagline {
  position: absolute;
  font-size: 8.6rem;
  font-weight: bolder;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1;
  color: #edf6f9;
  top: 5%;
  left: 5%;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 48rem;
  left: 0;
}

.overlay-flipped {
  overflow: hidden;
}

.sherbimet {
  text-align: center;
  margin-bottom: 8rem;
}

.sherbimet {
  line-height: 3.2rem;
  margin-top: 6.4rem;
}

.services {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
  padding: 0 4.8rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  height: 35.2rem;
}

.service img {
  max-width: 9.6rem;
}

.author {
  margin-top: auto;
}

.rreth {
  width: 100%;
  margin: 6.4rem auto;
  padding: 0.8rem 1.6rem;
  margin-top: 0;
  padding-top: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #edf6f9;
}

.phone {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.rreth p {
  font-size: 2.8rem;
  width: 65%;
}

.contact-search {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  align-items: center;
}

.search-input {
  height: 4.8rem;
  border: none;
  outline: none;
  color: #111;
  padding-left: 1.3rem;
  padding-right: 4.8rem;
}


.hero-search {
  margin-top: 43.2rem;
  margin-bottom: 6.4rem;
  z-index: 0;
}

.hero-search-input {
  height: 4.8rem;
  padding-left: 1.3rem;
  padding-right: 4.8rem;
  font-size: 2rem;
  font-weight: 300;
  outline: none;
  border: none;
  color: #006d77;
  background-color: #edf6f9;
  opacity: 0.8;
}

.hero-search-input::placeholder {
  color: #006d77;
}

.hero-search-input:focus {
  opacity: 1;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background-color: #ddd;
  padding: 6.4rem;
  border-radius: 2px;
  margin-bottom: 6.4rem;
}

.appointment-form input[type=text],
.appointment-form input[type=email],
.appointment-form input[type=datetime-local],
.appointment-form select {
  width: 100%;
  font-size: 2.4rem;
  border: none;
  padding: 1.6rem;
  color: #006d77;
}

.appointment-form label {
  font-size: 2.4rem;
}

.appointment-form input[type=datetime-local] {
  width: 100%;
  background-color: white;
}
.appointment-form select {
  width: 100%;
  color:rgb(117, 117, 117);
  background-color: white;
}

.appointment-form select .first {
  color: rgb(117, 117, 117);
}

.appointment-form select .others {
  color: #006d77;
}

.appointment-form input[type=text]:focus,
.appointment-form input[type=email]:focus,
.appointment-form input[type=date]:focus,
.appointment-form select:focus {
  outline: 2px solid #006d77;
}

.appointment-form button {
  width: 100%;
  font-size: 2.4rem;
}

.container .appointment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #edf6f9;
  width: 100%;
  position: absolute;
  top: 35rem;
  width: 35rem;
}

.hero-search-btn {
  border: none;
  outline: none;
  padding: 0 1.6rem;
  background-color: none;
  margin-left: -4.8rem;
  margin-right: auto;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.btn-secondary.search-btn {
  margin-left: -4.8rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded {
  border-radius: 2px;
}

.rounded-xl {
  border-radius: 1.6rem;
}

.shadow {
  box-shadow: 0 0 .5rem #ddd;
}

.shadow-xl {
  box-shadow: 0 0 1.2rem #ddd;
}

.text-shadow {
  text-shadow: 0.4rem 0.4rem #006d77;
}

.sherbimet p,
.sherbimet-carousel p {
  font-size: 1.8rem;
}

form {
  display: flex;
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 1.6rem;
  height: 4.8rem;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn-primary {
  background-color: #006d77;
  color: #edf6f9;
}

.btn-primary:hover {
  background-color: #42999b;
}

.btn-primary:active {
  background-color: #006d77;
}

.btn-secondary {
  background-color: #e29578;
  color: #111;
}

.btn-secondary:hover {
  background-color: #f1b9a5;
}

.btn-secondary:active {
  background-color: #e29578;
}

#noResults {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goback-btn {
  display: flex;
  align-items: center;
  gap: .8rem;
  border-radius: 3.2rem;
  padding: 0 3.2rem;
  border: 2px solid #e29578;
  background-color: white;
  color: #111;
}

.goback-btn img {
  width: 1.6rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #111;
  cursor: pointer;
  font-size: 1.6rem;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  height: .4rem;
  width: 100%;
  transform: scaleX(0);
  background-color: #006d77;
  transition: all .3s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 120%;
}

.navbar-responsive {
  background: linear-gradient(#006d77, #006d77e6);
  padding-top: 1.6rem;
  padding-right: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: end;
  gap: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 2.4rem;
  color: #edf6f9;
  display: none;
  transform: translateX(100%);
  transition: all .3s ease;
}

.navbar-responsive a {
  font-size: 3rem;
}

#rezervo {
  color: #e29578;
}

.navbar-responsive.active {
  transform: translateX(0);
}

.navbar-responsive ul {
  margin-top: .8rem;
  line-height: 2;
  text-transform: uppercase;
}

.navbar-responsive ul li a {
  color: #edf6f9;
  transition: all .3s ease;
  width: 100%;
}

.navbar-responsive ul li a:active,
.navbar-responsive ul li a:hover {
  color: #83c5be;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}

#snackbar {
  visibility: hidden;
  position: fixed;
  bottom: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.6rem 8rem;
  background-color: #42999b;
  color: #edf6f9;
  border-radius: 2px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  width: 70%;
  z-index: 999;
}

#snackbar.show {
  visibility: visible;
  animation: fadein .5s, fadeout .5s 3.5s;
}

@keyframes fadein {
  from {bottom: 4.8rem; opacity: 0;}
  to {bottom: 6.4rem; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 6.4rem; opacity: 1;}
  to {bottom: 4.8rem; opacity: 0;}
}

.top-btn {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  right: 3.2rem;
  bottom: 3.2rem;
  padding: 1.6rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: #e29578;
  color: #edf6f9;
  transition: all .3s ease;
  z-index: 9;
  cursor: pointer;
}

.top-btn:hover {
  background-color: #f1b9a5;
}

.top-btn:active {
  background-color: #e29578;
}

.testimonials {
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 4.8rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 6.4rem auto auto auto;
  gap: 4.8rem;
  justify-items: center;
  align-items: center;
}

.testimonials h1 {
  color: #edf6f9;
  grid-area: 1 / 1 / span 1 / span 3;
  transform: translateY(1rem);
  text-align: center;
}

.testimonials-carousel-container h1 {
  color: #edf6f9;
  font-size: 4.8rem;
  margin-top: 3.2rem;
}

.quotes {
  stroke: #edf6f9;
  fill: #edf6f9;
  filter: drop-shadow(.4rem .4rem #006d77);
}

.testimonial {
  background: linear-gradient(#42999b, #006d77);
  color: #edf6f9;
  border-radius: 7px;
  width: 80%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;
  text-align: center;
}

.testimonial-pic {
  width: 9.6rem;
  border-radius: 50%;
}

.testimonial .text {
  width: 90%;
}

.testimonial.first {
  grid-area: 2 / 1 / span 1 / span 1;
}

.testimonial.second {
  grid-area: 2 / 2 / span 1 / span 1;
}

.testimonial.third {
  grid-area: 2 / 3 / span 1 / span 1;
}

.testimonial.fourth {
  grid-area: 3 / 1 / span 1 / span 1;
}

.testimonial.fifth {
  grid-area: 3 / 2 / span 1 / span 1;
}

.testimonial.sixth {
  grid-area: 3 / 3 / span 1 / span 1;
}

.section-subscribe {
  background-color: white;
  padding-bottom: 4.8rem;
}

.form-subscribe {
  margin: 0 4.8rem 4.8rem 4.8rem;
  padding: 3.2rem 4.8rem;
  background-image: linear-gradient(to right, rgba(0, 109, 119 , .9), rgba(0, 109, 119, .1)), url(../images/subscribe.jpeg);
  background-position: center;
  border-radius: 8px;
  color: #edf6f9;
}

.form-subscribe h2 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.form-subscribe p {
  margin-bottom: 2.4rem;
}

.form-subscribe form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 45%;
}

.form-subscribe h2 {
  color: #edf6f9;
}

.form-subscribe p {
  width: 45%;
}

.form-subscribe input[type=email] {
  font-size: 1.6rem;
  padding: 1.2rem;
  color: #006d77;
}

.form-subscribe input[type=email]:focus {
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
}

footer p {
  font-size: 1.4rem;
}

footer h3 {
  letter-spacing: 1.4px;
}

.footer-first-part {
  text-align: end;
  padding: 4.8rem 4.8rem 3.2rem 4.8rem;
  font-size: 1.4rem;
  background-color: #006d77;
  color: #edf6f9;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-second-part {
  background-color: #006d77;
  color: #edf6f9;
  text-align: center;
  padding-bottom: 3.2rem;
}

.logo {
  width: 15%;
}

.footer-logo  {
  width: 10%;
}

.logo img,
.footer-logo img {
  width: 100%;
  height: 100%;
}

footer a,
.sitemap p a {
  font-size: 1.4rem;
}

.sitemap {
  text-align: left;
}

footer .kontakti {
  text-align: left;
}

footer a:link,
footer a:visited {
  color: #edf6f9;
}

footer a:hover,
footer a:focus {
  color: #83c5be;
}

/* footer img {
  width: 3.2rem;
  height: 3.2rem;
} */

.follow .icons {
  letter-spacing: 5px;
}

ion-icon {
  font-size: 2.4rem;
  color: #edf6f9;
}

ion-icon:hover {
  color: #83c5be;
}

.hamburger {
  display: none;
}

.hamburger img {
  width: 4.8rem;
  margin: 0;
}

.swiper {
  width: 700px;
  height: 400px;
  margin-bottom: 6.4rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #006d77 !important;
}

.carousel {
  display: none;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
